.App {
  margin: 1rem;
}

.dropdown-button {
  position: relative;
}

.dropdown-button {
  width: 100%;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #aaa;
}

.button-arrow {
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #ccc;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  padding-top: 3px;
  width: 12px;
  cursor: pointer;
}

.button-arrow:hover {
  background-color: #aaa;
}

.button:hover + .button-arrow {
  background-color: #aaa;
}

.dropdown-area {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 250px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: aliceblue;
}

.menu-item:last-child {
  margin-bottom: 0;
}
